@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?g2r73l');
    src:  url('../fonts/icomoon.eot?g2r73l#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?g2r73l') format('truetype'),
      url('../fonts/icomoon.woff?g2r73l') format('woff'),
      url('../fonts/icomoon.svg?g2r73l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-add .path1:before {
    content: "\e900";
    color: rgb(37, 191, 80);

  }
  .icon-add .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-edit:before {
    content: "\e902";
    color: #000;
  }
  .icon-remove:before {
    content: "\e903";
  }
